/* --------Default ---------- */
$left : left;
$auto : auto;
$right: right;
$background-size: contain;


  /* ================= col left==================== */
  .col-12 { width: percentage(12/12);}
  .col-11 { width: percentage(11/12); float: $left;}
  .col-10 { width: percentage(10/12); float: $left;}
  .col-9 { width: percentage(9/12); float: $left;}
  .col-8 { width: percentage(8/12); float: $left;}
  .col-7 { width: percentage(7/12); float: $left;}
  .col-6 { width: percentage(6/12); float: $left;}
  .col-5 { width: percentage(5/12); float: $left;}
  .col-4 { width: percentage(4/12); float: $left;}
  .col-3 { width: percentage(3/12); float: $left;}
  .col-2 { width: percentage(2/12); float: $left;}
  .col-1 { width: percentage(1/12); float: $left;}

  /* ================= col auto==================== */
  .iCol-12 { width: percentage(12/12);}
  .iCol-11 { width: percentage(11/12); margin: auto;}
  .iCol-10 { width: percentage(10/12); margin: auto;}
  .iCol-9 { width: percentage(9/12); margin: auto;}
  .iCol-8 { width: percentage(8/12); margin: auto;}
  .iCol-7 { width: percentage(7/12); margin: auto;}
  .iCol-6 { width: percentage(6/12); margin: auto;}
  .iCol-5 { width: percentage(5/12); margin: auto;}
  .iCol-4 { width: percentage(4/12); margin: auto;}
  .iCol-3 { width: percentage(3/12); margin: auto;}
  .iCol-2 { width: percentage(2/12); margin: auto;}
  .iCol-1 { width: percentage(1/12); margin: auto;}

p {
  margin: 5px 0px
}

.text-center{
  text-align: center;
}

.border{
  border: 1px solid black;
}

.hide{
  display: none;
}

.box_shadow {
  box-shadow: 0px 5px 10px grey;
}

.inline_block {
  display: inline-block;
}

.bk-yes {
  background-color: #cacaca ;
}

/* -------core/Header-------- */
.header_container{
  display: inline-block;
  background-color: rgba(256,256,256,.7);
  border-radius: 0px 0px 25px 25px;
}

// /* -----sign in page----- */
// .login_page_container{
//   width:300px;
//   height: 100%;
//   margin:auto;
//   margin-top: 250px;
// }
//
// .input-space{
//   margin: 0 0 10px 0;
// }
//
// .toggleContainer{
//   display: none;
// }


/* -----ImageUpload----- */
.form_class {
  padding: 5px;
  display: inline-block;
  width:300px;
}
.fLeft {
  float: left;
  margin: 5px 5px 0 0;
  padding: 0px;
}

.fRight {
  float: right;
  padding: 0px;
  margin: 5px 5px 0 0;
}
/* --------filter box ------------ */
.filterboxSize { width: 300px; float: left; border: 1px solid black; display: block;}


/* -----Categories----- */
ul {
  list-style-type: none;
  float: left;
}

.the_category_nav{
  position: absolute;
  background: rgba(256,256,256, 0.8);
  left: 10px;
  margin:0;
}

.cat-nav {
  border-bottom: 3px black solid;
  display: inline-block;
  position: inherit;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}

.topnav {
  display:block;
  height: 30px;
}

.navlist:hover {
  color: rgba(0, 0, 0, .5);
  cursor: pointer;
}
/* -----Products----- */
.innerBody {
    width: 300px;
    margin: 10px 1%;
    float: left;
    border: 1px solid black;
    height: 460px;
    padding: 10px;
    box-shadow: 5px 5px 5px gray;
    font-size: .8em;
}

.edit_box {
    width: 100%;
    border-top: 1px solid gray;
    padding-top: 10px;
    margin-top: 10px;
}

.products_box {
  clear: both;
}

.item_size {
  font-size: .9em;
}

.item_img {
  width: 100%;
  height: 150px;
  margin-bottom: 5px;
}

.item_img_box {
  width: 150px;
  margin: auto;
  overflow: hidden;
}

.item_img_box img {
  height:150px;
}


.floatleftblock {
  float: left;
  width: 100%;
  button, p {
    float: left;
    width: 100px;
  }
}

.memberProfileBlock{
  position:fixed;
  background: rgba(96,96,96,.7);
  width: 100vw;
  height: 100%;
  top: 0px;
  .profile-block{
    position: relative;
    margin:auto;
    margin-top: 100px;
    width: 500px;
    height: 615px;
    background-color: white;
    box-shadow: 1px 1px 1px black;
    padding-left: 10px;
    .profile-box-block{
      width:100%;
      .profile-box-close{
        float: right;
        margin: 5px;
      }
    }
  }
}

/* -----MemberProfile----- */
.orderHistoryBlock {
  background: rgba(255,223,0,.5);
  margin-left: 20px;
  div, p, ul, li {
    margin: 0px;
  }
}

.dottedBorder {
  border-top: 2px dotted black;
}

.floatleftblock {
  float: left;
  width: 100%;
  button, p {
    float: left;
    width: 100px;
  }
}

.purchaseHisotryDivHide {
  display:none;
}

/* -----NewProduct----- */
.spdFormContainer {
  width:830px;
  height:100%;
  margin:auto;
}
.spdFormInnerContainer {
  width:800px;
  height:100%;
  display:inline-block;
  margin:auto;
  box-shadow: 3px 3px 3px 3px gray;
}
input.form-control {
    width: 90%;
}
.img_div {
  width: 90%;
  padding: 10px;
}

.img_size {
  width: 150px;
  height: 150px;
  margin: 0 50%;
}


// .input_box {
//   width:250px;
//   display: inline-block;
//   margin: 5px;
//   padding: 5px;
// }
.inputBlock {
  display:flex;
  padding: 0px 5px;
}
.inputBlockRoot{
  display:flow-root;
  padding: 0px 5px;
}
.input_box_3{
  width: percentage(4/12); float: $left;
  margin: 5px 5px 5px 0;
  padding: 0px
}
.input_box_3_1{
  width: 30%; float: $left;
  margin: 5px 5px 5px 0;
  padding: 0px
}
.input_box_5{
  width: percentage(2/10); float: $left;
  margin: 5px 5px 5px 0;
  padding: 0px
}
.size_box {
  width: 49%; float: $left;
  margin: 5px 5px 5px 0;
  padding: 0px
}
.input_box_1{
  width: percentage(12/12); float: $left;
  margin: 5px 5px 5px 0;
  padding: 0px
}


.input_box_small {
  width: 100px;
  display: inline-block;
  padding: 5px;
  margin-left: 20px;
}
.input_box_max {
  width: 100%;
  padding: 5px 10px 5px 5px;
  margin: 5px;
  display:block;
}
// .size_box {
//   width: 398px;
//   margin: auto;
//   float: left;
//   padding: 5px;
// }
.formHR {
  width: 90%;
  margin: auto;
  border: 1px solid black;
}
.other_box {
  display: block;
  margin: 5px;
  border: 1px dotted black;
}

.spdForm {
  display:block;
  clear: both;
}

.formsize {
  width:100%;
  float:left;
  clear: both;
  display:block
}

.feature {
  width:90%;
  padding: 5px;
}
 .form_radio {
   margin: 5px;
 }
/* -----EditProduct----- */
.productEditBox {
  width: 100%;
}
.editText {
  margin: 0px;
}
.edit_submit {
  margin: 10px 0px 10px 5px;
  clear: both;
}

.edit_xlg {
  width: 48%;
  margin: 5px;
  float:left;
}
.editInput_xlg {
  width: 100%;
}
.editInput_sm {
  width: 100%
}
.edit_lg {
  width: 50%;
  float: left;
}
.edit_md {
  width: 25%;
  padding: 5px 10px;
  float:left;
}

.edit_sm {
  width: 30%;
  padding: 5px 5px;
  float:left;
}


/* -----ProductsBox----- */
.item_dele_button{
  float: right;
}
/* -----Product----- */
.detail_container {
  background-color: lightblue;
  float:left;
  box-shadow: 5px 5px 5px;
  max-width: 1060px;
  margin: 5px 0 20px 0;
}
.hr_abc{
  width: 100%;
  color: black;
}
.detail_box {
  width:50%;
  padding: 10px;
  float: left;
  background-color: lightblue;
}
.detail_image {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
}
.detail_item_info_box h1 {
  font-size: 3rem;
  margin: 0px;
}
.detail_item_info_box h2 {
  font-size: 2rem;
}

input {
  padding: 0 5px;
}

// Home page ==========================
// .home_icon{
//   width: 50px;
// }
// .fp_container {
//   width: 100%;
//   height: 100vh;
//   background-image: url('https://images.unsplash.com/photo-1527234483219-b7c1f7ab74df?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=58ecaa188401cf354a5b1baee8bfe16c&auto=format&fit=crop&w=3045&q=80');
//   background-position:center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
//
// .login_block {
//   width: 300px;
//   margin: auto;
//   padding-top: 100px;
// }
//
// .front_button {
//   width: 300px;
//   background-color: rgba(256,256,256,.7);
//   border-radius: 25px;
//   float:left;
//   margin: 2px;
// }
//
// .front_button img{
//   width: 100%;
// }
//
// .front_button button{
//   margin-left: 100px;
// }
//
// .fp_form {
//   width: 350px;
//   height: 200px;
//   background-color: rgba(255, 255, 255, .2)
// }
//
// .fp_title {
//   font-weight: 600;
//   font-size: 2rem;
//   color: white;
//   text-align: center;
//   padding: 10px;
// }
//
// .fp_input {
//   float: left;
//   width: 240px;
//   margin: 5px 55px;
//   padding: 5px;
// }
//
// .fp_submit {
//   float: right;
//   margin: 20px;
// }
//
// .admin_login_container, .user_login_container {
//   width: 500px;
//   float: left;
// }

// cart/parts/add_product
.add_product_container {
  width: 500px;
  height: 175px;
  box-shadow: 1px 1px 10px grey;
}
.add_product_image {
  width: 95%;
  margin: auto;
  border: 1px solid black;
}
.cart_product_qty_container {
  padding: 10px 0px;
  p, input {
    padding: 0px 5px 0px 0px;
    margin: 0px;
    width: 50px;
    height: 25px;
  }
}
.cart_product_name {}
.cart_product_price {}
.cart_product_qty { width: 30px;}
.cart_product_total {}
.cart_product_remove_btn {}

.cart-container {
  width: 50px;
  position: relative;
  .imgforcart { position:absolute; width:30px; float:left; }
  .showLocalAmount { position: absolute; float:left; font-weight: 600;}
}

p.amountInCart {
    display: inline-block;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 640px){

  /* ================= col left==================== */
  .s-col-12 { width: percentage(12/12);}
  .s-col-11 { width: percentage(11/12); float: $left;}
  .s-col-10 { width: percentage(10/12); float: $left;}
  .s-col-9 { width: percentage(9/12); float: $left;}
  .s-col-8 { width: percentage(8/12); float: $left;}
  .s-col-7 { width: percentage(7/12); float: $left;}
  .s-col-6 { width: percentage(6/12); float: $left;}
  .s-col-5 { width: percentage(5/12); float: $left;}
  .s-col-4 { width: percentage(4/12); float: $left;}
  .s-col-3 { width: percentage(3/12); float: $left;}
  .s-col-2 { width: percentage(2/12); float: $left;}
  .s-col-1 { width: percentage(1/12); float: $left;}

  /* ================= col auto==================== */
  .s-iCol-12 { width: percentage(12/12);}
  .s-iCol-11 { width: percentage(11/12); margin: auto;}
  .s-iCol-10 { width: percentage(10/12); margin: auto;}
  .s-iCol-9 { width: percentage(9/12); margin: auto;}
  .s-iCol-8 { width: percentage(8/12); margin: auto;}
  .s-iCol-7 { width: percentage(7/12); margin: auto;}
  .s-iCol-6 { width: percentage(6/12); margin: auto;}
  .s-iCol-5 { width: percentage(5/12); margin: auto;}
  .s-iCol-4 { width: percentage(4/12); margin: auto;}
  .s-iCol-3 { width: percentage(3/12); margin: auto;}
  .s-iCol-2 { width: percentage(2/12); margin: auto;}
  .s-iCol-1 { width: percentage(1/12); margin: auto;}

  .innerBody {
    width: 50%;
    min-width: 300px;
    // margin-left: 25%;
  }
  .edit_md {
    width: 25%;
    padding: 5px 10px;
    float:left;
  }
  .edit_lg {
    width: 100%;
    float: left;
  }
  .edit_sm {
    width: 30%;
    padding: 5px 5px;
    float:left;
  }
}
@media only screen and (max-width: 690px) {
  .detail_box {
    width:100%;
    padding: 10px;
    float: left;
  }
}
@media only screen and (max-width: 970px){
  .innerBody {
    width: 45%;
    min-width: 300px;
  }
}
@media only screen and (min-width: 1080px) {
  .detail_container {
    width:66%;
  }
  .productEditBox {
    width: 33%;
    padding: 10px;
    float: left;
  }
  .productEditBox h2{
    margin: 0px;
  }
  .edit_xlg {
    max-width: 500px;
    width: 100%;
    margin: 5px;
  }
  .editInput_xlg {
    width: 100%;
  }
  .edit_lg {
    width: 100%;
    float: left;
  }
  .edit_md {
    width: 50%;
    padding: 5px 10px;
    float:left;
  }
  .edit_sm {
    width: 33%;
    padding: 5px 5px;
    float:left;
  }
}
